<h1><%= @artist.artist_name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

<!-- Photos -->
<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
