<h1><%= @song.song_name %></h1>

<p>Song: <%= @song.song_name %></p>
<%= link_to "[Delete]", song_path(@song.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "[Edit]", edit_song_path(@song.id) %>
